<!DOCTYPE html>
<html>
<title>AboutUs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load  static %}
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", Arial, Helvetica, sans-serif
    }

    .myLink {
        display: none
    }
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-border-bottom w3-large">
    <div class="left-menu">
        <a href="#" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i
                class="fa fa-map-marker w3-margin-right"></i>Logo</b></a>
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-mobile">Home</a>
        <a href="{% url 'searchProperty' %}" class="w3-bar-item w3-button w3-mobile">Search Property</a>
        <a href="{% url 'advertiseProperty' %}" class="w3-bar-item w3-button w3-mobile">Advertise Property</a>
        <a href="{% url 'contact' %}" class="w3-bar-item w3-button w3-mobile">Contact Us</a>
        <a href="{% url 'aboutus' %}" class="w3-bar-item w3-button w3-mobile">About Us</a>
    </div>
    <div class="right-menu">
        <a href="{% url 'signin' %}" class="w3-bar-item w3-button w3-light-grey w3-mobile">SignIn/Register</a>
    </div>
</div>
<!-- Page content -->
<!-- Page content -->
<div id="about-container">

    <!-- Explore Nature -->
    <div>
        <div class="first-div">
                <h1>About us</h1>
        </div>
        <div class="second-div">
            <p>
                With over 50 years of combined experience, the Partners and Principals of Conrad LLP bring a tradition of excellence and dedication to a wide variety of services and client types.  Our approach is to guide you through the process, not shelter you from it.  We’re there for you year-round, and we’re proactive by making recommendations, watching deadlines, and completing projects long before they are due.  We rely on our talented people and a heavy investment in tools and training to improve the quality of your financial reporting.  We leverage technology to provide services on a real-time basis, operating in a paperless/wireless environment so that we can work as efficiently in your offices as we do in our own.  Our team includes seasoned professionals that bring experience from both the private sector and global accounting firms.
            </p>
        </div>


    </div>

    <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-center w3-opacity w3-margin-bottom">
    <h5>Find Us On</h5>
    <div class="w3-xlarge w3-padding-16">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    </p>
</footer>


</body>
</html>
